<form class="navbar-form navbar-left" role="search">
    <h3>
        Exercise 7:
    </h3>
    <hr/>
    <h4>
        Solution:
    </h4>
    <br/>
    <div class="col-md-3">
        <input type="number" placeholder="Enter Number" ng-change="fields.sum()"
            ng-model="fields.first" class="form-control" />
    </div>
    <div class="col-md-3">
        <input type="number" placeholder="Enter Number" ng-change="fields.sum()"
            ng-model="fields.second" class="form-control" />
    </div>
    <div class="col-md-3">
        <input type="number" placeholder="Enter Number" ng-change="fields.sum()"
            ng-model="fields.third" class="form-control" />
    </div>
    <div class="col-md-3">
        <input type="number" placeholder="Enter Number" ng-change="fields.distribute()"
            ng-model="fields.result" class="form-control" />
    </div>
</form>