<form class="navbar-form navbar-left" role="search">
    <h3>
        Exercise 8:
    </h3>
    <hr/>
    <h4>
        Solution:
    </h4>
    <br/>
    <div class="col-md-12">
        <input type="text" placeholder="Enter text" 
            maxlength="5" move-next-on-maxlength
            ng-model="dynamic.first" class="form-control" />
        
        <br/>
        <input type="text" placeholder="Enter text" 
            maxlength="5" move-next-on-maxlength
            ng-model="dynamic.second" class="form-control" />
        <br />
         <input type="text" placeholder="Enter text" 
            maxlength="5" move-next-on-maxlength
            ng-model="dynamic.third" class="form-control" />
    </div>
</form>